@model IEnumerable<ReviewAdminViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beer)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beer)
            </td>
            <td>
                <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Users" asp-action="UnflagReview" asp-route-reviewId="@item.Id">UnflagReview</a>
            </td>
            <td>
                <a class="btn btn-primary" role="button" asp-area="Admin" asp-controller="Users" asp-action="DeleteReview" asp-route-reviewId="@item.Id">DeleteReview</a>
            </td>

        </tr>
}
    </tbody>
</table>
